/* 
color: #205e6c;

*/

body {
    text-align: center;
    height: auto;
    background-color: rgb(190, 215, 216);

}
#heading1 {
    font-size: 35px;
    font-family: 'Permanent Marker';
    cursor:pointer;
}
.nav-header {
    margin-top: 0px;
}
.nav-toggle {
    background: url(./Assets/Images/screwdriver-1294338_1280.png);
    background-size: cover;
    border: none;
    width: 50px;
    height: 30px;
}
#btn {
    text-decoration: none;
    padding: 0.5rem;
    border: 1px solid white;
    width: 100px;
    height: 100px;
}
#btn:hover {
    background-color: rgba(255, 255, 255, 0.34);
}
.links {
    height: 0px;
    overflow: hidden;
    transition: var(--transition);
    width: 100%;
}
li {
    display: table-cell;
    align-items: center;
}
.show-links {
    height: 50px;
    display: table;
    width: 100%;
    transition: all 0.3s;
    background-color: rgba(255, 255, 255, 0.34);
}
a {
    text-decoration: none;
    color: black;
}

#mainPage {
    display: table;
    vertical-align: middle;
    height: 100%;
    margin: 0px auto;
}

/* CLOCK */
#myclock {
    position: relative;
    top: 100%;
    left: 100%;
    transform: translateX(-50%) translate(-50%);
    color: #205e6c;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
    display: block;
}
